@{
ViewData["Title"] = "/Create Category";
}
@{
ViewData["Title"] = "Admin - Manager Users";
Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
      <h4 class="m-0 font-weight-bold text-primary d-sm-inline-block">Create Category</h4>
      <!-- Topbar Search -->
      
    </div>
    <div class="card-body">
      <form method = "POST" action = "/Admin/CreateCategory">
  <div class="form-group">
    <label for="exampleInputEmail1">Category Name</label>
    <input type="text" class="form-control" name = "CategoryName" placeholder="Enter Category">
  
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">SubCategory Name</label>
    <input type="text" name ="SubCategoryName" class="form-control" placeholder="Enter SubCategory">
  </div>
  
  <button class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>

</div>
<!-- /.container-fluid -->