@{
ViewData["Title"] = "/Create Category";
}
@{
ViewData["Title"] = "Admin - Manager Users";
Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
      <h4 class="m-0 font-weight-bold text-primary d-sm-inline-block">Create Category</h4>
      <!-- Topbar Search -->

    </div>
    <div class="card-body">
      <form method="POST" action="/Admin/CreateCategory">
        <div class="form-group">
          <label for="exampleInputEmail1">Category Name</label>
          <input type="text" class="form-control" name="CategoryName" placeholder="Enter Category">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">SubCategory Name</label>
          <input type="text" name="SubCategoryName" class="form-control" placeholder="Enter SubCategory">
        </div>

        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <label>
    Category Name
  </label>


  <select name="CategoryName" id="parentCategory">
    @foreach (var item in ViewBag.listcategory)
    {
    <option name="@item.CategoryName">@item.CategoryName </option>
    }
  </select>

  <br>
  <label>
    Sub Category
  </label>
  <div id="subCategory">
    @if(ViewBag.subcategory!= null)
    {
    @foreach (var item in ViewBag.subcategory)
    {
    <label name="@item.CategoryId">@item.CategoryName</label><a 
    href="/Admin/EditCategory/?name=@item.CategoryName"> Edit</a><br>
    }
    }
  </div>

</div>
<script>

  $(document).ready(function () {
    $("#parentCategory").change(function () {

      $('#subCategory').html('');
      $.ajax({
        type: "POST",
        data: {
          categoryName: this.value
        },
        url: "/admin/GetListSubCategoryByCategoryParentId",
        success: function (result) {
          $('#subCategory').stop().animate({ "opacity": "0" }, 0, function () {
            // After first animation finished
            $(this).html(
              result.map((res) => {
                // return `<option name=${res.categoryName}>${res.categoryName}</option>`
                return `<label  name="${res.CategoryId}" value="${res.categoryName}">${res.categoryName}</label> <a href="/Admin/EditCategory?name=${res.categoryName}">Edit</a><br>`
              })
            ).animate({ opacity: 1 });
          });
        }
      });
    });
  });

</script>
<!-- /.container-fluid -->