@{
ViewData["Title"] = "Admin - Error";
Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Error Error Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="Error">Error</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="/Admin/Dasboard">&larr; Back to Dashboard</a>
  </div>

</div>
<!-- /.container-fluid -->