<div class="modal fade" id="ChangeStatusReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave&#63;</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Block service" or "Block seller" below if you are want handle report.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary text-light" href="" id="idReportService-js">Block service</a>
                <a class="btn btn-danger text-light" href="" id="idReportSeller-js">Block seller</a>
            </div>
        </div>
    </div>
</div>