<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vtc_Freelancer</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Seller.css">
</head>

<body>
    <div class="header-login">
        <div class="header container">
            <div class="left-top-nav">
                <div class="wrapper-logo">

                    <div class="logo">
                        <a href="#">VTC Freelancer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <div class="footer">
            <div class="container">

                <div class="footer-content-wrapper">
                    <div class="footer-content">
                        <button class="btn-footer-link">Categories</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Graphics & Design</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Programming & Tech</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">About</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content"><a href="#">Careers</a></li>
                            <li class="li-footer-content">
                                <a href="#">Press & News</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Partnerships</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Privacy Policy</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Terms of Service</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Intellectual Property</a>
                            </li>
                            <li class="li-footer-content"><a href="">Claims</a></li>
                            <li class="li-footer-content">
                                <a href="">Investor Relations</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">Support</button>

                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Help & Support</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Trust & Safety</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Selling on Fiverr</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Buying on Fiverr</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">Community</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Events</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Blog</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Forum</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Podcast</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Affiliates</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Invite a Friend</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Become a Seller</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-content">
                        <button class="btn-footer-link">More From Fiverr</button>
                        <ul class="ul-footer-link">
                            <li class="li-footer-content">
                                <a href="#">Fiverr Pro</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">Fiverr Studios</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Get Inspired</a>
                            </li>
                            <li class="li-footer-content">
                                <a href="">ClearVoice</a>
                                <br />
                                <small>Content Marketing</small>
                            </li>
                            <li class="li-footer-content">
                                <a href="#">AND CO</a><br />
                                <small>Invoice Software</small>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Learn</a><br />
                                <small>Online Courses</small>
                            </li>
                            <li class="li-footer-content">
                                <a href="">Fiverr Elevate</a><br />
                                <small>Exclusive Benefits</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="smail-content">
                    <div class="hiden-btn">

                    </div>
                    <div class="logo">
                        <a href="#">VTC Freelancer</a>
                    </div>
                    <div class="privacy">
                        <a href="">Privacy Policy</a>|
                        <a href="">Terms of Service
                            <br />
                            <span><small>© VTCA Freelancer International Ltd. 2019</small></span></a>
                    </div>
                </div>
                <!-- <hr /> -->
                <div class="footer-icon">
                    <ul>
                        <li class="li-footer-icon"><a href=""></a></li>
                        <li class="li-footer-icon"><a href=""></a></li>
                        <li class="li-footer-icon"><a href=""></a></li>
                        <li class="li-footer-icon"><a href=""></a></li>
                        <li class="li-footer-icon"><a href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const btn = document.getElementsByClassName("btn-footer-link");
        for (let i = 0; i < btn.length; i++) {
            btn[i].addEventListener("click", function () {
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/slide.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>