<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
        <img class="img-profile rounded-circle" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/p720x720/67709408_1541403902667921_5580068725538684928_o.jpg?_nc_cat=100&_nc_oc=AQkVKouNuANDYIeJGtizvF1Uhu01oKvZUZnweB1RFEjA4lzWCnbh1kg-V9vzw9rMQ1A&_nc_ht=scontent.fhan2-4.fna&oh=5a25dd9ea5f4d52589b92031aa14cf26&oe=5E87D6FA">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
        </a>
    </div>
</li>