@{
ViewData["Title"] = "Request a Service";
}

<div class="container">

    <div class="request-body">
        <h1 class="mngr-request" style="color: black; font-weight: 300;">Manage Requests</h1>


        <div class="tab" id="tab-request">
            <button class="tab-requests" onclick="OpenGigs(event, 'Active')">Active</button>
            <button class="tab-requests" onclick="OpenGigs(event, 'Paused')">Paused</button>
            <button class="tab-requests" onclick="OpenGigs(event, 'Pending')">Pending</button>
            <button class="tab-requests" onclick="OpenGigs(event, 'Unapproved')">Unapproved</button>
        </div>
        <div class="wrapper-table-request" id="Active">
            <table>
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Request</td>
                        <td class="p-l-15">
                            Offers
                        </td>
                        <td class="t-a-right">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="date  height95">
                            Dec 15, 19
                        </td>
                        <td class="text-wide">
                            Web programmer do everything about ReactJs, .net Core
                            <div>
                                <div class="info-line">Delivery Time - 7 days</div>
                                <div class="info-line">Budget - <span>$50</span></div>
                            </div>
                            <div class="tags-standard tags-white-bg">
                                <span>JavaScript</span>
                                <span>Cross Browser Compatibility</span>
                            </div>
                        </td>
                        <td class="applications ">
                            <a class="btn-standard disabled "><em>
                                    0
                                </em> review offers</a>
                        </td>
                        <td class="dropdown">
                            <div class="js-manage-request-actions">
                                <div class="filter-select  ">
                                    <div class="fake-dropdown" style="visibility: visible;">
                                        <a class="dropdown-toggle no-content no-uppercase"></a>
                                        <ul class="dropdown-menu no-uppercase pull-right " role="menu"
                                            style="top: -2px;">
                                            <li>
                                                <a>
                                                    <span class="text-inner">Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Paused" class="wrapper-table-request">

        </div>
        <div class="wrapper-table-request" id="Pending">

        </div>
        <div class="wrapper-table-request" id="Unapproved">

        </div>
    </div>
</div>

<script>
    function OpenGigs(event, typeGig) {

        var listGigs = document.getElementsByClassName('wrapper-table-request');
        for (let i = 0; i < listGigs.length; i++) {
            listGigs[i].style.display = "none";
        }
        var tabGig = document.getElementsByClassName('tab-requests');
        for (let i = 0; i < tabGig.length; i++) {
            tabGig[i].className = tabGig[i].className.replace(" active", "");
        }
        document.getElementById(typeGig).style.display = "grid";
        event.currentTarget.className += " active";

    }
</script>