@{
ViewData["Title"] = "Seller Dashboard";
}

<html lang="en">

<body>
    <div class="header container">
        <div class="left-top-nav">
            <div class="logo">
                <a href="#">VTC Freelancer</a>
            </div>
            <ul class="nav-top">
                <li>
                    <a href="#" class="nav-link"><b>Dashboard</b></a>
                </li>
                <li>
                    <a href="#" class="nav-link"><b>Messages</b></a>
                </li>
                <li>
                    <a href="#" class="nav-link"><b>Orders</b></a>
                </li>
                <li>
                    <a href="#" class="nav-link"><b>Gigs</b></a>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</body>

</html>