
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Report This Gig</h5>
    </div>
    <div class="modal-body">
        <div>
            Let us know why you would like to report this Gig
        </div>
        <ul>
            <li>
                <label>
                    <input type="radio" name="report_type" value="copyright">
                    <span>Non Original Content</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="report_type" value="copyright">
                    <span>Inappropriate Gig</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="report_type" value="copyright">
                    <span>Trademark Violations</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="report_type" value="copyright">
                    <span>Copyright Violations</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="btn-continue" href="" id="reportService">Next</a>
    </div>
</div>