@{
ViewData["Title"] = "Create your Service";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="wrapper-serive-detail">
        <!-- Đồng chí nào làm back-end Select data của service ở đây -->
        <!-- @ViewBag.id -->
        <!-- @if(ViewBag.id != null)
            {
               
            } -->


        <h1>
            <!-- @ViewBag.service -->
            I will create a dcmmm
        </h1>

        <br>
        <a href="">
            <div class="prf-div">
                <img class="img-profile" id="img-prf" src="/images/product1.jpeg" alt="">
                <p>
                    @ViewBag.service.Seller.User.UserName
                </p>
            </div>
        </a>
    </div>
</div>