@{
ViewData["Title"] = "Create your Service";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="wrapper-serive-detail">
        <!-- Đồng chí nào làm back-end Select data của service ở đây -->

        <h1>

            I will create a dcmmm
        </h1>

        <br>
        <a href="">
            <div class="contain-username">

                <img class="img-profile" id="img-prf" src="/images/product1.jpeg" alt="">
                <b>
                    @ViewBag.serviceDetailUser.UserName
                </b>
            </div>
        </a>

    </div>
</div>