<div class="content-crt-src content">
    <form action="CreateServiceStep1" method="post">
        <label for="">Gig Title</label>
        <Textarea maxlength="80" name="title"></Textarea>
        <br>
        <label for="">Category</label>
        <select name="category">
            <option value="GRAPHICS & DESIGN">GRAPHICS & DESIGN</option>
            <option value="PROGRAMMING & TECH">PROGRAMMING & TECH</option>
        </select>
        <select name="subcategory">
            <option value="GRAPHICS & DESIGN">GRAPHICS & DESIGN</option>
            <option value="PROGRAMMING & TECH">PROGRAMMING & TECH</option>
        </select>
        <br>
        <label for="">Tags</label>
        <input type="text" name="tags" />
        <br>
        <button>Save and continue</button>
    </form>
</div>