<form action="CreateServiceStep3" method="post">
  <h2>Description</h2>
  <hr>
  <p>Briefly Describe Your Gig</p>
  <br>
  <textarea cols="30" rows="10" name="serviceDescription"></textarea>
  <br>
  <h2>Frequently Asked Questions</h2>
  <hr>
  <p>Add Questions & Answers for Your Buyers.</p>
  <br>
  <input type="text" name="question" placeholder="Add a Question: i.e. Do you translate to English as well?"
    maxlength="150">
  <br>
  <textarea name="reply" placeholder="Add an Answer: i.e. Yes, I also translate from English to Hebrew."
    maxlength="300"></textarea>
  <br>
  <input type="submit" value="save and continue">
</form>