

@{
ViewData["Title"] = "Create new Service";
Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<div class="nav-step container">
    <nav>
        <ul class="ul-step">
            <li class="wrapper-li-step">
                <div class="li-step" style="background-color: #1dbf73;">✔</div>
                <div class="li-content">Overview ></div>
            </li>
            <li class="wrapper-li-step">
                <div class="li-step" style="background-color: #1dbf73;">✔</div>
                <div class="li-content">Pricing ></div>
            </li>
            <li class="wrapper-li-step">
                <div class="li-step" style="background-color: #1dbf73;">✔</div>
                <div class="li-content">Description ></div>
            </li>
            <li class="wrapper-li-step">
                <div class="li-step" style="background-color: #1dbf73;">4</div>
                <div class="li-content">Publish</div>
            </li>
        </ul>
    </nav>
</div>



<div class="content-crt-src content">
    <div class="container-step1">
<form method="post" enctype="multipart/form-data" action="Step4" class="form-step4">
            <h2>Build Your Gig Gallery</h2>
            <br>
            <p>Add memorable content to your gallery to set yourself apart from competitors.
            </p>
            <hr>
            <br>
            <p>Upload photos that describe or are related to your Gig.
            </p>
            <br>
           <input type="file" name="files" class="file" multiple />
  <img class="myImg" src="https://www.lemark.co.uk/wp-content/uploads/Your-Image-Here-1.jpg" alt="your image" height="200px" width="200px">
    <br>
    <br>
  <input type="file" name="files" class="file" multiple />
  <img class="myImg" src="https://www.lemark.co.uk/wp-content/uploads/Your-Image-Here-1.jpg" alt="your image" height="200px" width="200px">
    <br>
    <br>
  <input type="file" name="files" class="file" multiple />
  <img class="myImg" src="https://www.lemark.co.uk/wp-content/uploads/Your-Image-Here-1.jpg" alt="your image" height="200px" width="200px">
            <input class="btn-continue" type="submit">
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
  let base64 = [];
  
  document.querySelectorAll('.file').forEach((ip, index) => {
    ip.addEventListener('change', function () {
      if (this.files && this.files[0]) {
        var img = document.querySelectorAll('.myImg')[index]; // $('img')[0]
        img.src = URL.createObjectURL(this.files[0]); // set src to blob url
        // img.onload = imageIsLoaded;
       
      }
    });
  })


</script>