@model Category;
@{
ViewData["Title"] = "Become Seller";
}
<div class="text-center">
    <form method="POST" action="/BecomeSeller">
        <h2>
           Become Seller
        </h2>
        <br>
        @if (@ViewBag.Noti == true)
        {
        
        <br>
        }
        <label>
         Description
        </label>
        <input name="Description" required />
        <br>
        <label>
           Language
        </label>
        <select name="Language">
           <option name="Vietnam">Vietnam</option>
           <option name="Japan">Japan</option>
           <option name="China">China</option>
           <option name="Korea">Korea</option>
        </select>
         <br>
         <label>
           Level Language
        </label>
       
        <select name="Level">
           <option value = "0">Unspecified</option>
           <option value = "1">Basic</option>
           <option value = "2">Conversational</option>
           <option value = "3">Fluent</option>
           <option value = "4">Native/Bilingual</option>
        </select>
        <label>
           Category Name
        </label>
        <select name="CategoryName">
          @if(ViewBag.listcategory!= null)
          {
            @foreach (var item in  ViewBag.listcategory)
             {
               <option name = "@item.CategoryName">@item.CategoryName </option>
             }
          }
        </select>
        <br>
        <label>
           Skill
        </label>
        <input name = "SkillName" />
        <select name = "Level">
           <option value = "0">Beginner</option>
            <option value = "1">Intermediate</option>
             <option value = "2">Expert</option>
        </select>
       
       
        <br>
        <button id="but" onclick="login()">Tiếp tục</button>
        <br>
       
    </form>
</div>