@{
ViewData["Title"] = "ChangePassword";
Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="wrapper-become-seller container-inner">
    <form method="POST" action="/ChangePassword" class="form-become-seller">
        <h5>
            Security
        </h5>
        <h3 style="color:Green" id="Error">@ViewBag.Error</h3>
        <br>
        <input type="password" name="currentpassword" class="form-control" placeholder="current passwowrd..." required />
        <br>
       
        <br>
        <input type="password" name="newpassword" id="new" class="form-control" placeholder="Password..." required />
        <br>
        <br>
        <input type="password" name="repassword" id="re" class="form-control" onkeyup="Checkpass()" placeholder="Re-Enter Password"
            required />
        <br>

        <br>
        <button id="button" class="btn-success">Save Change</button>
       
    </form>
</div>
<script>
    function Checkpass() {
      console.log(1);
    var a = document.getElementById("new").value;
    var b = document.getElementById("re").value;
    if (a !== b) {
      document.getElementById("Error").innerHTML = "Invalid password";
      document.getElementById("button").disabled = true;
    } else {
      document.getElementById("Error").innerHTML = "Valid Password";
      document.getElementById("button").disabled = false;
    }
  }
</script>