@{
ViewData["Title"] = "Login";
}

<div class="text-center">
    <form method="POST" action="/Login">
        <h2>
            Đăng nhập
        </h2>
        <br>
        @if (@ViewBag.Noti == true)
        {
        <h5>Tài khoản không tồn tại</h5>
        <br>
        }
        <label>
            Email hoặc UserName
        </label>
        <input name="email" required />
        <br>
        <label>
            Mật khẩu
        </label>
        <input type="password" name="password" id="pass" required />
        <br>
        <button id="but" onclick="login()">Đăng Nhập</button>
        <br>
        <a href="/Register">Bạn chưa có tài khoản?</a>
    </form>
</div>