@{

ViewData["Title"] = "Register";
Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="" id="logreg-forms">
    <form method="POST" action="/Register" class="form-register">
        <h5>
            Join VTC Freelancer
        </h5>
        <br>
        <div class="social-login">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
    </div>
    <p style="text-align:center"> OR </p>
    

        <br>
        <input type="text" name="username" placeholder="Username..." required />
        <br>
        <br>
        <input type="email" name="email" placeholder="Email..." required />
        <br>
        <br>
        <input type="password" name="password" id="p1" placeholder="Password..." required />
        <br>
        <br>
        <input type="password" name="password2" id="p2" onkeyup="Checkpass()" placeholder="Re-Enter Password"
            required />
        <br>
        <h3 style="color:Red" id="error"> @ViewBag.error</h3>
        <div id="message"></div>
        <button id="but" class="btn-success">Sign up</button>
        <a href="/Login">Already have Account?</a>
    </form>
</div>
<script>
  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }
  window.fbAsyncInit = function () {
    FB.init({
      appId: '802573856856059',
      cookie: true,
      xfbml: true,
      version: 'v5.0'
    });

    FB.AppEvents.logPageView();

  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function checkLoginState() {
    FB.getLoginStatus(function (response) {
      statusChangeCallback(response);
    });
  }
  function logout() {
    FB.logout(function (response) {
      console.log(response);
    });
  }

  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');

    FB.api('/me', 'GET', { "fields": "id,name,email,first_name,last_name" }, function (response) {
      console.log(response);
    });
  }
</script>