@{
ViewData["Title"] = "Register";
}

<div class="text-center">
    <form method="POST" action="/Register">
        <h2>
            Đăng ký tài khoản
        </h2>
        <br>
        @if (ViewBag.Register == false)
        {
        <h3 style="color:red" id="error"> @ViewBag.error</h3>
        }
        <label>
            Tài khoản
        </label>
        <input type="text" name="username" required />
        <br>
        <label>
            Email
        </label>
        <input type="email" name="email" required />
        <br>
        <label>
            Mật khẩu
        </label>
        <input type="password" name="password" id="p1" required />
        <br>
        <label>
            Nhập lại mật khẩu
        </label>
        <input type="password" name="password2" id="p2" onkeyup="checkpass()" required />
        <br>
       
        <br>
        <button id="but">Đăng ký</button>
        <br>
        <a href="/Login">Bạn đã có tài khoản?</a>
    </form>
</div>