@{

ViewData["Title"] = "Register";
Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="" id="logreg-forms">
    <form method="POST" action="/Register" class="form-register">
        <h5>
            Join VTC Freelancer
        </h5>
        <br>

        <h3 style="color:Green" id="error"> @ViewBag.error</h3>
        <br>
        <br>
        <label>
            Username
        </label>
        <input type="text" name="username" placeholder="Username..." required />
        <br>
        <br>
        <label>
            Email
        </label>
        <input type="email" name="email" placeholder="Email..." required />
        <br>
        <br>
        <label>
            Password
        </label>
        <input type="password" name="password" id="p1" placeholder="Password..." required />
        <br>
        <br>
        <label>
            Re-Enter Password
        </label>
        <input type="password" name="password2" id="p2" onkeyup="Checkpass()" placeholder="Re-Enter Password"
            required />
        <br>

        <br>
        <button id="but" class="btn-success">Sign up</button>
        <br>
        <a href="/Login">Alreaddy have Account?</a>
    </form>
</div>