@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

<!-- <form action="/home/login" method="post"> 
    <input name="username" />
    <input name="username1" />
    <button type="submit" >dit</button> -->
<!-- </form> -->
<a href="/home/editprofile">Edit Profile</a>
</div>
