@{
ViewData["Title"] = "Home Page";
}
<body>
	<div class="header container">
		<div class="left-top-nav">
			<div class="logo">
				<a href="#">VTC Freelancer</a>
			</div>
			<form action="" method="post">
				<input type="text" name="" id="input-search-service" placeholder="Find Services" />
				<button id="btn-search-service">Search</button>
			</form>
		</div>
		<div class="right-top-nav">
			<ul class="nav-top">
				<li>
					<a href="#" class="nav-link"><b>Become a Seller</b></a>
				</li>
				<li>
					<a href="#" class="nav-link"><b>Messages</b></a>
				</li>
				<li>
					<a href="#" class="nav-link"><b>Saved</b></a>
				</li>
				<li>
					<a href="#" class="nav-link"><b>Orders</b></a>
				</li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="nav-categories">
		<ul class="ul-categories container">
			<li class="li-categories">
				<a href="" class="categories-link">Graphics & Design</a>
				<ul class="ul-package">
					<li class="li-package">
						<a href="" class="a-package">Logo Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Brand Style Guides</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Game Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Graphics for Streamers </a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Business Cards & Stationery</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Illustration</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Brochure Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Poster Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Flyer Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Book & Album Covers</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Storyboards </a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Web & Mobile Design</a>
					</li>
					<li class="li-package">
						<a href="" class="a-package">Social Media Design</a>
					</li>
				</ul>
			</li>
			<li class="li-categories">
				<a href="" class="categories-link">Programming & Tech</a>
				<ul class="ul-package">
					<li class="li-package"><a class="a-package" href="">a</a></li>
					<li class="li-package"><a class="a-package" href="">a</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="content">
		<div class="container">
			<section class="header-slider">
				<div class="post-request">
					<div class="inside-post-request">
						<b>Hi , @ViewBag.UserName </b> <br /><br />
						<p>Get offer from sellers for your project</p>
						<br /><br />
						<input type="button" value="Post a request" />
					</div>
				</div>
				<div class="slide-section">
					<div class="slideshow-container">

						<div class="mySlides fade">
							<div class="numbertext">1 / 3</div>
							<img class="img-slide" src="~/images/slide1.png" style="width:100%">
							<div class="text">Caption Text</div>
						</div>

						<div class="mySlides fade">
							<div class="numbertext">2 / 3</div>
							<img class="img-slide" src="~/images/slide2.png" style="width:100%">
							<div class="text">Caption Two</div>
						</div>

						<div class="mySlides fade">
							<div class="numbertext">3 / 3</div>
							<img class="img-slide" src="~/images/slide3.png" style="width:100%">
							<div class="text">Caption Three</div>
						</div>

						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>

					</div>
					<br>

					<div style="text-align:center">
						<span class="dot" onclick="currentSlide(1)"></span>
						<span class="dot" onclick="currentSlide(2)"></span>
						<span class="dot" onclick="currentSlide(3)"></span>
					</div>
				</div>



			</section>
		</div>
	</div>
	<div class="product">
		<div class="container">
			<section class="box-row">
				<div class="box-row__header">
					<h2>Recently viewed & more</h2>
					<a href="">See All <i class="fa fa-chevron-right"></i></a>
				</div>
				<div class="box-row__slider">
					
					<div class="slider__gig">
						<a href="" class="slide-gig-js">
							<button>a</button>
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
							<img src="~/images/product2.png" alt="" class="slider__gig-image">
							
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
					<div class="slider__gig">
						<a href="">
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
					<div class="slider__gig">
						<a href="">
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
					<div class="slider__gig">
						<a href="">
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
					<div class="slider__gig">
						<a href="">
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
					<div class="slider__gig">
						<a href="">
							<img src="~/images/product1.jpeg" alt="" class="slider__gig-image">
						</a>
						<div class="gig__content">
							<div class="slider__gig-seller">
								<span class="gig__seller-avatar">
									<img src="~/images/avatar-user1.png" alt="">
								</span>
								<div class="gig__seller-info">
									<a href="">najam_iqbal</a>
								</div>
							</div>
							<a href="" class="slider__gig-title">
								<h3>I will develop android app or iphone app</h3>
							</a>
							<div class="slider__gig-star">
								<i class="fa fa-star"></i>
								<span class="gig__star-number">5.0</span>
								<span class="gig__star-user-star">(100)</span>
							</div>
						</div>
						<div class="slider__gig-footer">
							<div class="gig-fav">
								<i class="fa fa-bars"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="gig-price">
								<small>Starting At</small>
								$25
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="smail-content">
				<div class="logo">
					<a href="#">VTC Freelancer</a>
				</div>
				<div class="privacy">
					<a href="">Privacy Policy</a>|
					<a href="">Terms of Service
						<br />
						<span><small>© VTCA Freelancer International Ltd. 2019</small></span></a>
				</div>
			</div>
			<div class="footer-content-wrapper">
				<div class="footer-content">
					<button class="btn-footer-link">Categories</button>
					<ul>
						<li class="li-footer-content">
							<a href="#">Graphics & Design</a>
						</li>
						<li class="li-footer-content">
							<a href="#">Programming & Tech</a>
						</li>
					</ul>
				</div>

				<div class="footer-content">
					<button class="btn-footer-link">About</button>
					<ul>
						<li class="li-footer-content"><a href="#">Careers</a></li>
						<li class="li-footer-content">
							<a href="#">Press & News</a>
						</li>
						<li class="li-footer-content">
							<a href="">Partnerships</a>
						</li>
						<li class="li-footer-content">
							<a href="">Privacy Policy</a>
						</li>
						<li class="li-footer-content">
							<a href="">Terms of Service</a>
						</li>
						<li class="li-footer-content">
							<a href="">Intellectual Property</a>
						</li>
						<li class="li-footer-content"><a href="">Claims</a></li>
						<li class="li-footer-content">
							<a href="">Investor Relations</a>
						</li>
					</ul>
				</div>

				<div class="footer-content">
					<button class="btn-footer-link">Support</button>

					<ul>
						<li class="li-footer-content">
							<a href="#">Help & Support</a>
						</li>
						<li class="li-footer-content">
							<a href="#">Trust & Safety</a>
						</li>
						<li class="li-footer-content">
							<a href="">Selling on Fiverr</a>
						</li>
						<li class="li-footer-content">
							<a href="">Buying on Fiverr</a>
						</li>
					</ul>
				</div>

				<div class="footer-content">
					<button class="btn-footer-link">Community</button>
					<ul>
						<li class="li-footer-content">
							<a href="#">Events</a>
						</li>
						<li class="li-footer-content">
							<a href="#">Blog</a>
						</li>
						<li class="li-footer-content">
							<a href="">Forum</a>
						</li>
						<li class="li-footer-content">
							<a href="">Podcast</a>
						</li>
						<li class="li-footer-content">
							<a href="">Affiliates</a>
						</li>
						<li class="li-footer-content">
							<a href="">Invite a Friend</a>
						</li>
						<li class="li-footer-content">
							<a href="">Become a Seller</a>
						</li>
					</ul>
				</div>

				<div class="footer-content">
					<button class="btn-footer-link">More From Fiverr</button>
					<ul>
						<li class="li-footer-content">
							<a href="#">Fiverr Pro</a>
						</li>
						<li class="li-footer-content">
							<a href="#">Fiverr Studios</a>
						</li>
						<li class="li-footer-content">
							<a href="">Get Inspired</a>
						</li>
						<li class="li-footer-content">
							<a href="">ClearVoice</a>
							<br />
							<small>Content Marketing</small>
						</li>
						<li class="li-footer-content">
							<a href="#">AND CO</a><br />
							<small>Invoice Software</small>
						</li>
						<li class="li-footer-content">
							<a href="">Learn</a><br />
							<small>Online Courses</small>
						</li>
						<li class="li-footer-content">
							<a href="">Fiverr Elevate</a><br />
							<small>Exclusive Benefits</small>
						</li>
					</ul>
				</div>
			</div>
			<!-- <hr /> -->
			<div class="footer-icon">
				<ul>
					<li class="li-footer-icon"><a href=""></a></li>
					<li class="li-footer-icon"><a href=""></a></li>
					<li class="li-footer-icon"><a href=""></a></li>
					<li class="li-footer-icon"><a href=""></a></li>
					<li class="li-footer-icon"><a href=""></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
