.tab {
  display: flex;
}

.mngr-request {
  color: black !important;
  font-weight: 300;
}

.tab-request {
  display: block;
  padding: 3px 5px 10px;
  color: #999;
  font-size: 14px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.request-body {
  max-width: 1000px;
  min-height: 500px;
  margin: 3rem auto;
}

.table-request {
  width: 100%;
  border-collapse: collapse;
}

.table-request tbody tr {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
}

.table-request tbody tr th:first-child {
  padding-left: 20px;
}

.table-request tbody tr td {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  line-height: 33px;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper-table-request {
  display: none;
}

.wrapper-table-request table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.wrapper-table-request table thead tr {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
}

.wrapper-table-request table thead td {
  padding-left: 0px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  line-height: 33px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  padding: 15px 15px 15px 0;
}

.wrapper-table-request table td:first-child {
  padding-left: 20px;
}

.p-l-15 {
  padding-left: 15px !important;
}

.t-a-right {
  text-align: right !important;
}

.wrapper-table-request table tbody tr {
  background-color: #fff;
  border: 1px #e5e5e5 solid;
  cursor: pointer;
}

.wrapper-table-request table tbody tr:hover {
  background-color: rgb(223, 223, 223);
}

.wrapper-table-request table td.date.height95,
.wrapper-table-request table td.user-date.height95 {
  height: 95px;
}

.wrapper-table-request.align-top table tbody td {
  vertical-align: top;
}

.wrapper-table-request table td:first-child {
  padding-left: 20px;
}

.wrapper-table-request table td.date,
.wrapper-table-request table td.user-date {
  width: 110px;
  padding-right: 15px;
}

.wrapper-table-request table td {
  padding: 15px 15px 15px 0;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  white-space: nowrap;
}

.wrapper-table-request.align-top table tbody td {
  vertical-align: top;
}

.wrapper-table-request table td.text-wide {
  max-width: 300px;
  white-space: normal;
  padding-right: 15px;
  word-wrap: break-word;
}

.wrapper-table-request table td .info-line {
  color: #999;
  display: inline-block;
  padding: 10px 10px 0 0;
}

.wrapper-table-request table td .tags-standard.tags-white-bg {
  text-align: left;
  white-space: normal;
}

.tags-standard {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.wrapper-table-request table td .tags-standard.tags-white-bg span {
  color: #777;
  margin: 15px 7px 0 0;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 400;
}

.tags-standard.tags-white-bg span {
  background-color: #fff;
  border-color: #ddd;
}

.tags-standard a,
.tags-standard span {
  background-color: #000;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 7px 10px;
  padding: 8px 10px;
  display: inline-block;
  border: solid 1px #1f1f1f;
  border-radius: 3px;
}

.wrapper-table-request .db-new-main-table td.applications {
  padding-top: 19px;
}

.wrapper-table-request table td.applications {
  width: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper-table-request .db-new-main-table td.dropdown {
  width: 75px;
  padding-top: 19px;
}

.wrapper-table-request table td:last-child {
  padding-right: 20px;
}

.review-offers {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
}

.hidden-wrapper-all {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  display: none;
}

#btn-send-offer {
  background-color: #1dbf73;
  cursor: pointer;
  color: white;
  font-weight: 300;
  padding: 10px;
}

.wrapper-send-offer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: white;
  height: 60%;
  overflow: hidden;
  position: fixed;
  width: 50%;
  z-index: 100;
  min-height: 300px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  display: none;
}

.wrapper-send-offer {
  /* padding: 10px; */
}

.head-content {
  padding: 10px;
}

.head-content h3 {
  float: left;
  font-weight: 300;
}

.head-content span {
  float: right;
  font-weight: 800;
  cursor: pointer;
}

.myservice-wrapper {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.myservice-wrapper img {
  width: 100px;
  margin-right: 10px;
  /* float: left; */
}

.myservice-wrapper:hover {
  background-color: #e5e5e5;
}

.your-offer {
  max-height: 400px;
  margin-top: 1rem;
  overflow-y: scroll;
  padding: 10px;
  /* overflow: scroll; */
}

.detail-offer {
  display: none;
  max-height: 400px;
  margin-top: 1rem;
  padding: 10px;
}

.title-service {
  font-weight: 16px;
  max-width: 620px;
  max-height: 38px;
  overflow: hidden;
  margin: 5px 0px;
  font-weight: 500;
  color: #000 !important;
}

.img-text-input {
  display: flex;
  width: 100%;
  height: 110px;
}

.img-text-input img {
  width: 25%;
}

.img-text-input textarea {
  width: 70%;
  margin-left: 30px;
}

.button-submit-offer {
  float: right;
  border: none;
  border-radius: 2px;
  background-color: #1dbf73;
  color: white;
  padding: 10px 16px;
}
