/* #loz {
    transform: translateX(-999px);
    transition: all 1s;
}

.animate {
    transform: translateX(0px) !important;
} */

.title-slide {
  font-size: 2rem;
}

.slide-space {
  padding-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .title-slide {
    font-size: 1.5rem;
  }
  .slide-space {
    padding-top: 0rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    /* width: 100% !important; */
  }
  .left-reponsive {
    width: 100%;
  }
  .slide-container {
    display: block;
    text-align: center;
  }
}

#text-description {
  width: 100%;
}

.nameReceiver {
  margin-right: 5px;
  border: 1px solid;
  display: inline-block;
  padding: 6px;
}

.tag-container{
  border: 2px solid #ccc;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.tag-container .tag{
  padding: 3px;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  align-items: center;
}
.tag i {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.tag-container input{
  flex: 1;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: 0;
}