/* #loz {
    transform: translateX(-999px);
    transition: all 1s;
}

.animate {
    transform: translateX(0px) !important;
} */

.title-slide {
  font-size: 2rem;
}

.slide-space {
  padding-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .title-slide {
    font-size: 1.5rem;
  }
  .slide-space {
    padding-top: 0rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    /* width: 100% !important; */
  }
  .left-reponsive {
    width: 100%;
  }
  .slide-container {
    display: block;
    text-align: center;
  }
}