﻿* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #7a7d85;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: proximanova;
  src: url("~/fonts/proxima-nova-bold.eot");
  src: local("ProximaNova-Light"),
    url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-light-ca544cb81a4d6e5aed2ba1d0a208bb61.eot?#iefix)
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: proximanova, helvetica neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #7a7d85;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: proximanova;
  src: url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-light-ca544cb81a4d6e5aed2ba1d0a208bb61.eot);
  src: local("ProximaNova-Light"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-light-ca544cb81a4d6e5aed2ba1d0a208bb61.eot?#iefix) format("embedded-opentype"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-light-2040c50882cb27743f6c293468392e16.woff2) format("woff2"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-light-636b04b837e435afbe74065671f80be1.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: proximanova;
  src: url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-regular-47dd31aad893b3063a9c827a6b192789.eot);
  src: local("ProximaNova-Regular"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-regular-47dd31aad893b3063a9c827a6b192789.eot?#iefix) format("embedded-opentype"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-regular-b09cea43222751c4928756103496f0d3.woff2) format("woff2"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-regular-f9d6b69118fb92ed0ce6ed6e19bf9657.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: proximanova;
  src: url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-semibold-b46318562f2654f3eec87a5032ac79b0.eot);
  src: local("ProximaNova-Semibold"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-semibold-b46318562f2654f3eec87a5032ac79b0.eot?#iefix) format("embedded-opentype"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-semibold-4bc9726b824a941488c8a360bae66ed3.woff2) format("woff2"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-semibold-70442a1a2183d795d68f821845e39db6.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: proximanova;
  src: url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-bold-0892897dc0ab70e40e9dd3257a7470e8.eot);
  src: local("ProximaNova-Bold"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-bold-0892897dc0ab70e40e9dd3257a7470e8.eot?#iefix) format("embedded-opentype"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-bold-13843069d4fbe2b5ee978919b786db7e.woff2) format("woff2"),url(//assetsv2.fiverrcdn.com/assets/fonts/proxima_nova/proxima-nova-bold-873f688be6c748a89dd3e07300c2a448.woff) format("woff");
  font-weight: 700;
  font-style: normal
} */

a {
  outline: none;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
  list-style-image: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.header {
  /* border-bottom: 1px solid #b5b6ba; */
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: -25px; */
}

.nav-top > li {
  padding: 0 24px 0 0;
}

.logo > a {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Cabin Sketch", cursive;
  color: #1dbf73;
  margin-right: 35px;
}

.left-top-nav {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  width: 50%;
}

.right-top-nav {
  float: right;
  width: 50%;
}

.header form {
  width: 366px;
  display: flex;
}

.header form input {
  padding: 7px 7px 7px 28px;
  width: 100%;
  height: 34px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #b5b6ba solid;
  border-right: none;
}

.header form button {
  font-weight: bold;
  color: white;
  background-color: #1dbf73;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 16px;
}

#btn-search-service:hover {
  background-color: #7ac3a1;
}

#btn-search-service {
  border: none;
}

.ul-categories {
  display: flex;
  margin-block-start: 0px;
  margin-block-end: 0px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.nav-categories {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.ul-categories li a {
  padding: 10px 0;
  display: inline-block;
  margin-right: 2rem;
}

.categories-link:hover {
  display: inline-block;
  border-bottom: 3px solid #1dbf73;
  margin-bottom: 0px;
  transition: color 0.2s;
}

.li-categories {
  position: relative;
  z-index: 1;
}

.ul-package {
  /* width: 2; */
  display: none;
  position: absolute;
  border: 1px solid #e5e5e5;
  /* max-height: 100px; */
  /* width: 100%; */
  background-color: white;
}

.li-package .a-package {
  /* padding-right: 200px; */
  /* margin-left: 1rem; */
  /* margin-right: 2rem; */
  padding-left: 1rem;
  /* padding-right: 0rem; */
  width: 300px;
  background-color: white;
}

.li-categories:hover .ul-package {
  display: block;
}

.content {
  background-color: white;
  margin: 1rem;
}

.header-slider {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inside-post-request {
  margin: 1.5rem;
}

.inside-post-request b {
  color: black;
}

.header-slider .post-request {
  margin-right: 10px;
  background: #fafafa;
  text-align: center;
  height: 230px;
  border: 1px solid #e5e5e5;
  /* float: left; */
  width: 20%;
}

.header-slider .post-request button {
  width: 100%;
  height: 34px;
  border-radius: 4px;
  padding: 9px 20px 8px;
  border: 1px #ccc solid;
  border-color: #40aeb8;
  font-weight: 700;
  background-color: #40aeb8;
  color: white;
  cursor: pointer;
}

.header-slider .slide-section {
  width: 80%;
}

.box-row__slider.slick-initialized {
  display: flex;
  align-items: center;
}

.slick-prev.fa-angle-right,
.slick-prev.fa-angle-left {
  background: none;
  border: none;
  outline: none;
  font-size: 65px;
}

.slider__gig {
  margin: 10px;
  border: 1px solid #e5e5e5;
  outline: none;
  overflow: hidden;
}

.slider__gig:hover .gig__content .slider__gig-title h3 {
  color: #1dbf73;
  text-decoration: underline;
}

.slider__gig-image {
  width: 100%;
}

.slider__gig-seller {
  display: flex;
  align-items: center;
  padding: 8px 0 0;
}

.slider__gig a {
  width: 235px;
  height: 142px;
}

.slick-list.draggable {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.arrowSlide {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: -30px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: all 0.4s;
}

.arrowSlide-right {
  right: -30px;
  left: auto;
  border-radius: 50% 0 0 50%;
}

.slide-gig-css:hover .arrowSlide-left {
  left: 0;
}

.slide-gig-css:hover .arrowSlide-right {
  right: 0;
}

.slider__gig-image {
  width: 235px;
  height: 100%;
  object-fit: cover;
}

.gig__seller-avatar {
  margin-right: 8px;
}

.gig__seller-avatar img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.gig__seller-info {
  color: #0e0e0f;
}

.gig__content {
  padding: 0 12px 5px;
}

.slider__gig-title h3 {
  display: inline-block;
  margin: 5px 0 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
  transition: 0.15s ease-in-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider__gig-star .fa-star,
.slider__gig-star .gig__star-number {
  color: #ffbf00;
}

.gig__star-number {
  font-size: 15px;
  font-weight: bold;
}

.gig__star-user-star {
  color: #b2b2b2;
  font-size: 14px;
}

.slider__gig-footer {
  border-top: 1px solid #eee;
  height: 41px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gig-fav .fa-bars,
.gig-fav .fa-heart {
  color: #c6c6c6;
}

.box-row__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 2rem;
  background: #f0fbe6;
}

.footer .smail-content .logo a {
  font-size: 20px !important;
}

.footer .smail-content .privacy a {
  font-size: 12px;
}

.footer-content-wrapper {
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
}

.smail-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-content > ul {
  margin-top: 1rem;
}

.li-footer-content {
  padding-bottom: 16px;
  margin-right: 1rem;
  width: 200px;
  display: block !important;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  /* padding-top: 2rem; */
  margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.img-slide {
  height: 230px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-footer-link {
  border: none;
  font-size: 16px;
  background-color: transparent;
  font-weight: bold;
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

#icon-menu {
  font-size: 2rem;
  display: none;
}

@media only screen and (min-width: 900px) {
  .ul-footer-link {
    display: block !important;
  }
  .menu-content-hiden,
  .wrapper-all {
    display: none;
    transform: translateX(-9999px);
    transition: all;
  }
}

@media only screen and (max-width: 900px) {
  .menu-content-hiden,
  .wrapper-all {
    display: block;
  }
  .logo > a {
    margin-right: 0;
  }
  .prf-div {
    display: none !important;
  }
  .left-content,
  .right-content {
    width: 100% !important;
  }
  .body-content {
    display: block !important;
  }
  .nav-top {
    display: none;
  }
  #icon-menu {
    display: block !important;
    margin-right: 2rem;
  }
  .wrapper-logo {
    display: flex;
  }
  .logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .right-top-nav {
    display: none;
  }
  .left-top-nav {
    display: inline-block;
  }
  .header {
    width: 100% !important;
    display: inline-block;
  }
  .post-request {
    display: none;
  }
  .footer-content ul {
    display: none;
  }
  .slide-section {
    width: 100% !important;
    padding: 0px !important;
  }
  .left-top-nav {
    width: 100%;
  }
  .header form {
    width: 100%;
  }
  .nav-categories {
    display: none;
  }
  .content {
    margin: 0;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-content-wrapper {
    display: block;
  }
  .footer-content {
    padding: 1rem;
  }
}

.nav-seller {
  width: 80% !important;
}

.nav-link-seller {
  padding: 0rem 2rem 0rem 2rem !important;
  font-size: 16px;
  color: #d5d4d2 !important;
}

.content-seller {
  background-color: #f7f7f7;
}

.body-content {
  display: flex;
  background-color: #f7f7f7;
}

.profile-wrapper {
  margin: 2rem 0rem 0rem 0rem;
  text-align: center;
  border-bottom: 1px solid #d5d4d2;
}

.left-content {
  width: 30%;
}

.right-content {
  width: 70%;
}

.lable-profile {
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.img-profile {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.container-profile {
  margin: 2rem;
}

hr {
  color: #b5b6ba;
}

h3 {
  font-weight: 400;
  color: #0e0e0f;
}

.ul-profile {
  font-size: 16;
  /* font-weight: 400 !important; */
}

.username {
  font-weight: 700;
  font-size: 16px;
  font-size: 140%;
}

.li-profil {
  padding: 1rem;
}

.bderbtm {
  border-bottom: 1px solid #d5d4d2;
}

.update-bussiness {
  margin: 1rem;
}

.slide-container {
  display: flex;
}

/* .slide-section {
  padding: 2rem;
} */

.icon-slide-uprage {
  margin: 0rem 0px 2rem 0px;
}

.icon1 {
  width: 48px;
  height: 55px;
  background-image: url(https://npm-assets.fiverrcdn.com/assets/@fiverr/seller_dashboard_perseus/11.a4950db.svg);
}

.icon2 {
  width: 78px;
  height: 22px;
  background-image: url(https://npm-assets.fiverrcdn.com/assets/@fiverr/seller_dashboard_perseus/10.b98cc36.svg);
}

.icon3 {
  width: 52px;
  height: 47px;
  background-image: url(https://npm-assets.fiverrcdn.com/assets/@fiverr/seller_dashboard_perseus/12.50d6c76.svg);
}

#img-prf {
  width: 35px;
  height: 35px;
  margin-left: 1rem;
}

.prf-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
}

.wrapper-all {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

#wrapper-all {
  transform: translateX(-9999px);
  transition: all;
}

.menu-content-hiden {
  height: 100% !important;
  width: 80%;
  z-index: 100;
  background-color: white;
  position: fixed;
}

.li-sidebars {
  margin: 1rem 0rem 1rem 0rem;
}

.menu-content-hiden {
  overflow: scroll;
}

.wrapper-content-menu-hiden {
  margin: 0rem 1rem 1rem 1rem;
}

.content-sidebars-wrapper {
  font-size: 15px;
}

.animate {
  transform: translateX(0px) !important;
}

#hidden-div {
  transform: translateX(-9999px);
  transition: all 0.4;
  /*Css Login bootstrap*/
}

/* sign in FORM */

#logreg-forms {
  width: 412px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 2rem auto 2rem auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}

#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#logreg-forms .form-control:focus {
  z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login {
  width: 390px;
  margin: 0 auto;
  margin-bottom: 14px;
}

#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  width: 190px;
  font-size: 0.9rem;
}

#logreg-forms a {
  display: block;
  padding-top: 10px;
  color: lightseagreen;
}

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top: 10px;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
  display: none;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width: 500px) {
  #logreg-forms {
    width: 300px;
  }
  #logreg-forms .social-login {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px;
    height: 56px;
  }
  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom: 5px;
  }
  #logreg-forms .social-btn span {
    display: none;
  }
  #logreg-forms .facebook-btn:after {
    content: "Facebook";
  }
  #logreg-forms .google-btn:after {
    content: "Google+";
  }
}

.arrowSlide {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.arrowSlide-right {
  right: 0;
}

.wrapper-become-seller {
  max-width: 800px;
  margin: 2rem auto 2rem auto;
}

.text-sel {
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.btn-continue {
  border: none;
  font-size: 18px;
  height: 50px;
  background-color: #1dbf73;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: bold;
}
