.nav-step {
  border: 1px solid #e5e5e5;
}

.li-step {
  margin: 1rem;
  font-weight: bold;
  width: 21px;
  height: 21px;
  background-color: #7a7d85;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.ul-step {
  font-size: 14px;
  font-weight: 600;
  display: flex;
}

.wrapper-li-step {
  display: flex;
  align-items: center;
}

.content-crt-src {
  max-width: 800px;
  margin: 3rem auto 2rem auto;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.container-step1 {
  margin: 1rem;
}

.flex {
  display: flex;
  margin: 2rem 0px 2rem 0px;
}

.left-content-step1 {
  width: 20%;
  text-align: end;
  margin-right: 1rem;
}

.right-content-step1 {
  width: 80%; 
}

.ListCategory {
  border-radius: 2px;
  padding: 5px;
  width: 200px;
}

/* 
Textarea, {
    width: 100%;
} */

.form-step1 textarea {
  width: 100%;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 1px;
  border-radius: 3px;
  height: 9rem;
}

.form-step1 input {
  height: 34px;
  border-radius: 3px;
}

#search-tag {
  width: 100%;
}

.btn-continue {
  border: none;
  font-size: 18px;
  height: 50px;
  background-color: #1dbf73;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.table-step2 th {
  width: 200px;
}

.table-step2 td textarea {
  width: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: none;
  color: #0e0e0f;
  border-radius: 0;
  padding: 5px 25px 5px 5px;
}

.table-step2 {
  margin-top: 1rem;
}

.table-step2 td {
  position: relative;
  padding: 20px 15px;
  height: 55px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-weight: 400;
  box-sizing: border-box;
}

.form-step3 textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem 0rem 1rem 0rem;
}

.form-step3 {
  margin-top: 1rem;
}

.form-step3 .text-description {
  padding: 1rem;
  border-radius: 4px;
  height: 300px;
}

.form-step3 input {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%;
  height: 34px;
}

/* .form-step4{
    
} */

.cutomemize-your-package {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.body-order {
  display: flex;
  align-items: center;
}

.body-require {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.step-order {
  padding: 1rem;
}

.font-size-14 {
  font-size: 14px;
}

.summary {
  padding-bottom: 3rem;
  display: flex;
  border-bottom: 1px solid;
}

.require-summary {
  padding-bottom: 2rem;
  border-bottom: 1px solid;
}

.gig-summary {
  display: flex;
  flex-grow: 1;
}

.title-summary {
  font-weight: 600;
  color: #62646a;
  text-align: left;
  line-height: 120%;
  text-transform: capitalize;
}

.title-summary-require {
  margin-top: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.content-summary-require {
  font-weight: 600;
  color: #62646a;
  text-align: left;
}

.img-summary {
  max-height: 62px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
  margin-right: 16px;
}

.img-summary-require {
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
  margin-right: 16px;
}

.pricing {
  display: flex;
  min-width: 190px;
}

.pricing select {
  width: 4rem;
  border-radius: 3px;
  height: 2rem;
  margin-right: 1rem;
}

.wrapper-order-content {
  margin: 0rem 2rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #d5d4d2;
}

.float-right {
  float: right;
}

.li-detail-order {
  margin: 1rem;
}

.span-detail-order {
  color: #1dbf73;
}

.payment-detail {
  display: flex;
}

.card-options {
  width: 30px;
}

.ul-cards {
  display: flex;
}

.cards {
  /* border-radius: 5px; */
  display: flex;
  border-bottom: none;
  border-left: 1px solid #d5d4d2;
  border-right: 1px solid #d5d4d2;
  border-top: none;
  padding: 1.5rem;
  background-color: white;
}

.cards h3 {
  margin: 0px 10px 0px 10px;
}

.cash-option {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #d5d4d2;
  padding: 1.5rem;
  background-color: #fafafa;
}

.cash-info {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d5d4d2;
  padding: 1.5rem 5rem 2rem 1.5rem;
  background-color: #fafafa;
}

.li-cards {
  margin: 0px 10px 0px 10px;
}

.card-datail {
  display: flex;
  justify-content: space-between;
}

.input-card-detail {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d5d4d2;
  padding: 5px;
}

#number-card {
  flex-basis: 48%;
}

.bottom-input-card {
  flex-basis: 48%;
}

.input-detail {
  width: 100%;
}

.bottom-detail-content {
  margin-top: 2rem;
}

.info-card-detail {
  margin-top: 2rem;
}

#button-odNow {
  padding: 14px 79px;
  color: white;
}

.Notification-sent-mail {
  display: block;
  background-color: #add8c5;
  margin-top: 20px;
  width: 98%;
  position: relative;
  border-radius: 4px;
}

.icon-checked {
  margin: 1rem;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #1dbf73;
  font-size: 28px;
  text-align: center;
  padding: 6px;
  display: inline-block;
}

.icon-checked i {
  color: #1dbf73;
}

.close-notification {
  max-width: 20px;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 1%;
}

.close-notification b {
  font-size: 18px;
  color: #1dbf73;
}

.Notification-content-sent-mail {
  display: inline-block;
  padding-top: 20px;
}

.Notification-content-sent-mail h3 b,
.Notification-content-sent-mail p {
  color: black;
}

.border-content {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 4px;
}

.content-requirement {
  margin: 20px;
}

.title-requirement {
  padding: 20px;
  background-color: rgb(223, 223, 223);
  border-bottom: 1px solid rgb(206, 206, 206);
}

.content-title-requirement {
  color: black;
  font-weight: bold;
}

.require {
  font-weight: bold;
}

.sect-option-require {
  margin: 10px 0px;
  width: 350px;
  padding: 5px;
  border-radius: 4px;
}

.sub-content-require {
  border-top: 1px solid rgb(206, 206, 206);
  padding: 10px 0px;
  margin: 10px 0px;
}

.form-input-require {
  margin: 10px 0px;
}

.input-require {
  width: 100%;
}

.cta-comment {
  margin-top: 10px;
}

.detail-order div {
  margin-top: 20px;
}

.incomp,
.comp,
.progress,
.deli,
.cancel {
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: 600;
  height: 35px;
}

.incomp {
  background-color: rgb(212, 174, 68);
}

.comp {
  background-color: rgb(45, 233, 45);
}

.progress {
  background-color: rgb(46, 46, 207);
}

.deli {
  background-color: rgb(247, 0, 255);
}

.cancel {
  background-color: rgb(255, 0, 0);
}

.button-start-order {
  margin-top: 20px;
  cursor: pointer;
  float: right;
}

.btn-start-order {
  opacity: 0.5;
  margin-left: 20px;
  cursor: pointer;
}

.check {
  margin: 20px 0px;
  width: 85%;
}

.check span {
  font-size: 14px;
}

.container-order {
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.content-detail-service {
  width: 515px;
}

.content-detail-service h1 {
  height: 65px;
  overflow: hidden;
}

.info-more {
  display: flex;
}

.info-more p a {
  color: #1dbf73;
}

.price-order {
  margin-left: 10px;
}

.li-content-order p {
  color: #1dbf73;
}
.li-content-delivered p,
.li-content-delivered span {
  font-size: 24px;
  color: #1dbf73;
}

.li-content-delivered span {
  font-weight: 600;
}

.li-content-order1 p {
  color: #e29637;
}

/* Timeline order */

.left-content {
  font-size: 14px;
  width: 30%;
}

.wrapper-process-order-content {
  position: relative;
  margin: 0rem 2rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 1px solid #d5d4d2;
}

.process-order {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.process-success::before {
  content: "";
  display: inline-block;
  background: #1dbf73;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.content-order::before {
  content: "";
  position: absolute;
  background: #1dbf73;
  width: 2px;
  bottom: 104px;
  left: 41px;
  top: 25px;
  z-index: -1;
}

.await::before {
  content: "";
  position: absolute;
  background: #d5d4d2 !important;
  width: 2px;
  bottom: 105px;
  top: 200px;
  z-index: -1;
}

.await-delivered::before {
  content: "";
  position: absolute;
  background: #d5d4d2 !important;
  width: 2px;
  bottom: 105px;
  top: 163px;
  z-index: -1;
}

.content-order p {
  margin-left: 30px;
}

.content-order {
  margin-bottom: 20px;
}

.await-process::before {
  content: "";
  display: inline-block;
  border: 1px solid #d5d4d2;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: white;
}

.processing {
  color: #1dbf73;
}

.processing::before {
  content: "";
  display: inline-block;
  border: 5px solid #1dbf73;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: white;
}

.FAQs-order a {
  color: rgb(62, 62, 255);
}

.btn-sub {
  padding: 15px;
  color: white;
  background-color: #1dbf73;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.order-status {
  display: flex;
  align-items: center;
}

.left-top {
  width: 80%;
}

.hidden-form {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  border: 1px solid #d5d4d2;
  z-index: 99;
  background-color: white;
}

.top-form-deliver {
  display: flex;
  position: relative;
  background-color: rgb(235, 229, 229);
  padding: 15px 5px;
}

.top-form-deliver h3 {
  margin-left: 20px;
}

.flex {
  display: flex;
  margin: 2rem;
}

::-webkit-file-upload-button {
  background: white;
  color: black;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #d5d4d2;
}

.ignore {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  border: none;
  font-size: 20px;
  background-color: transparent;
  /* transform: translateY(50%); */
}

#textarea-delever {
  width: 100%;
  height: 10rem;
  border-radius: 4px;
  padding: 5px;
}

.btn-sub {
  padding: 15px;
  color: white;
  cursor: pointer;
  background-color: #1dbf73;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.right-bo {
  float: right;
}

.form-hidden-form {
  padding: 1rem 1rem 4rem 1rem;
}

/* View Orders in Seller */

.order-body {
  min-height: 500px;
  margin: 3rem auto;
}
